language: php

sudo: required

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4

env:
  PREFER_LOWEST=""

matrix:
  fast_finish: true
  include:
    - php: 7.1
      env: PREFER_LOWEST="--prefer-lowest"

before_script:
  - sudo apt-get install bsdtar zip
  - npm install connect serve-static
  - composer update --no-interaction $PREFER_LOWEST
  - if [ -n "$PREFER_LOWEST" ];then composer update phpunit/phpunit --prefer-source --no-interaction --with-dependencies;fi

script:
  - make test
