<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <php>
      <ini name="display_errors" value="on"/>
    </php>

    <testsuites>
        <testsuite name="Zippy Functional Tests Suite">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>

    <coverage>
      <include>
        <directory>src</directory>
      </include>
    </coverage>

</phpunit>
